@media (min-width: 1300px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
      max-width: 1250px;
      margin-bottom: 60px;
  }
}

.box {
  background-color: #fff;
  background-color: var(--row-bg);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.06);
  margin-top: 40px;
  padding: 25px;
}
.top-area > div {
  padding-left: 8px;
  padding-right: 8px;
}
.top-area > div .card {
  padding: 12px;
  border: none;
}

.top-area > div h4 {
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 0px;
}
.top-area > div span {
  font-size: 2rem;
  text-align: left;
  line-height: 2rem;
  padding-top: 5px;
  font-weight: 600;
}
#demo tr {
  display: none;
}
.totop {
  position: fixed;
  bottom: 10px;
  right: 20px;
}
.totop a {
  display: none;
}
a,
a:visited {
  color: #33739e;
  text-decoration: none;
  display: block;
  margin: 10px 0;
}
a:hover {
  text-decoration: none;
}
#loadMore {
  padding: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #343a40;
  color: #fff;
  width: 200px;
  border-radius: 10px;
  /* border-width: 0 1px 1px 0; */
  /* border-style: solid; */
  /* border-color: #fff; */
  box-shadow: 0 1px 1px #ccc;
  transition: all 600ms ease-in-out;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
  width: 190px;
}
#loadMore:hover {
  background-color: #fff;
  color: #33739e;
}
#totopb {
  position: fixed;
  right: 30px;
  bottom: 60px;
  color: #33739e;
  text-decoration: none;
  margin: 10px 0;
}
footer {
  text-align: center;
  padding: 20px;
  font-size: 16px;
  font-weight: 500;
  background-color: #343a40;
  color: #fff;
  margin-top: 40px;
}
.table thead th {
  border-bottom: 0px;
}
.logo {
  width: 50px;
}
.logoheading {
  display: inline;
  font-size: 28px;
  color: #fff !important;
  font-weight: 600;
  vertical-align: middle;
}
.quote {
  margin-right: 30px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.quote::after {
  content: "\201C";
  font-size: 30px;
}
.quote::before {
  content: "\201D";
  font-size: 30px;
}
